#logo {
	width: 40px;
	margin-left: 20px;
}

#navbarNavAltMarkup {
	margin-left: 50px;
}

#card {
	margin-top: 34px;
}

#hello {
	margin-top: 110px;
}

#info {
	font-size: 20px;
}

.card-group{
	margin-top: 40px;
}